.top-nav{
  display: flex;
}
@font-face {
  font-family: 'myfont1';
  src: url(imgspro2/Signika_Negative/SignikaNegative-VariableFont_wght.ttf)
}
@font-face {
font-family: 'myfont2';
src: url(imgspro2/Signika_Negative/SignikaNegative-Bold.ttf)
}
@font-face {
font-family: 'myfont3';
src: url(imgspro2/Signika_Negative/SignikaNegative-Regular.ttf)
}
img{
  padding: 10px;
  width: 150px;
}

header{
  display: block;
}

.images{
  width: 600px;
  margin-right: 50px;
}

#toggle-nav{
  background-color: white;
  width: 30px;
  display: none;
}

#logout{
  display: none;
}

#logged-in{
  display: inline;
  position: absolute;
  top: 50px;
  right: 40px;
  font-family: 'myfont1';
  border: 1px;
}

button, button:focus{
  padding-top: 10px;
  display: inline;
  float: inline-end;
  outline: none;
  background: transparent;
  width: 50px;
  height: 60px;
  border: none;
}

button:active{
  outline: none;
  background: transparent;
  background-color: rgb(255, 255, 255);
}
form{
  margin: 0;
}
.search-container{
  display: inline;
  position: absolute;
  top: 20px;
  right: 200px;
  border: 1px solid black;
  width: 800px;
  align-self: center;
}

.search-container a {
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 0;
}

.search-container input[type=text] {
  font-size: 17px;
  margin: 0;
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: none;
}

.search-container button {
  align-items: center;
  background: rgb(255, 254, 254);
  font-size: 17px;
  border: none;
  cursor: pointer;
  margin: 0;
}

.search-container button:hover {
  background: #ccc;
  margin: 0;
}

#logo{
  padding: 10px;
  display:inline;
}

nav{
    display: inline-block;
    text-align: center;
    width: calc(100% - 20px);
    background-color: #D75252;
    padding: 10px;
    font-family: 'myfont2';
}

nav ul{
  text-align: center;
    display: inline;
    text-decoration: none;
}

nav li{
  text-align: center;
  display: inline;
  flex: 0;
}

nav a{
  text-align: center;
  font-family: 'myfont1';
  margin: 30px;
  font-size: 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: 'myfont2';
}

nav a:hover{
    color: #FFF1A8;
    -webkit-text-stroke-width: .1px;
    -webkit-text-stroke-color: black;
}


h1{
  text-align: left;
  margin-left: 50px;
  font-family: 'myfont2';
}

h2{
  font-family: 'myfont3';
  text-align: left;
}

#single{
  text-align: center;
}

p{
    column-count: 2;
    margin-left: 70px;
    text-align: center;
}

#author{
  text-align: left;
  font-family: 'myfont3';
  font-size: x-small;
  margin-left: 200px;
  margin-bottom: 50px;
}

article{
display: inline;
width: 600px;
font-family: 'myfont3';
}

.onepage{
columns: 2;
width: 800px;
margin-left: 200px;
font-family: 'myfont1';
}

#onepageimg {
width: 500px;
}

#comments{
  display: block;
  font-family: 'myfont1';
  margin: 50px;
}
#comments div{
  display: block;
  font-family: 'myfont1';
  margin: 50px;
}

.content{
display: flex;
margin: 40px;
font-family: 'myfont1';
}

body{
margin: 0;
}

@media screen and (max-width: 700px) {

  .search-container {
    display: block;
    top: 10px;
    left: 0;
    border: none;
    position: relative;
    width: 250px;
    border: 1px solid black;
    padding: 0;
  }

  form{
    margin: 0;
  }

  .search-container input[type=text] {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 150px;
    margin: 0;
  }

  article {
    display: block;
    width: 250px;
    margin-left: 10px;
    margin-top: 20px;
  }

  p{
    column-count: 2;
    margin-left: 30px;
  }

  #author{
    width: 200px;
  }

  h1{
    margin-left: 10px;
    margin-top: 10px;
    width: 250px;
  }

  h2{
    font-family: 'myfont3';
    text-align: left;
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
  }

  #single{
    font-family: 'myfont3';
    width: 100px;
    margin-left: 60px;
    margin-top: 20px;
  }

  .images{
    padding: 0;
    margin-left: 10px;
    margin-right: 0;
    width: 200px
  }

  button, button:focus{
    padding: 0;
    display: inline;
    float: inline-end;
  }
  .top-nav{
    width: 200px;
    margin: 0;
  }

  #logo{
    display: inline;
    width: 10px;
    padding: 0;
  }
  header{
    display: inline;
  }

  nav{
    display: none;
    width: calc(100%-20px);
    text-align: center;
    background-color: #D75252;
    text-align: center;
    padding: 0;
  }

  nav ul{
    display: block;
    text-decoration: none;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
      }

  nav li{
    display: block;
    font-family: 'myfont';
    flex: 0;
  }

  nav a{
    margin: 0;
  }

  body.nav-open nav{
  display: block;
  margin: 0;
  }

  #toggle-nav{
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  padding: 0;
  margin: 0;
  }

  #search{
    margin: 0;
  }
  button{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    padding: 1px;
  }

  #logout{
    display: inline;
  }
  #logged-in{
    display: none;
  }
  .content{
    display: block;
    margin: 0;
  }

  .onepage{
    display: block;
    columns: 1;
    width: 150px;
    margin-left: 10px;
    margin: 0;
    }

    #author{
      text-align: left;
      font-family: 'myfont3';
      font-size: x-small;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
    }

    #onepageimg {
      width: 200px;
      }
}